{% extends 'courses/base.html' %}
{% load course_custom_tags %}
{% load static %}

{% block title %}
Login
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'courses/css/Login.css'%}">
{% endblock %}


{% block content %}

<div class="container-fluid"></div>
{% if messages %}

{% for message in messages %}
<div>
    {{message}}
</div>

{% endfor %}
{% endif %}
<h1 class="display-1"> Reset Password</h1>
<hr>

<div class="container login-card reset-password">

    <form action="" method="POST" class="login-form ">
      {% csrf_token %}      
        <div class="form-group">
            <label for="password">New password</label>
            <input type="password" name="new_password" class="form-control" id="">
        </div>
        <div class="form-group">
            <label for="password">Confirm password</label>
            <input type="password" name="confirm_password" class="form-control" id="">
        </div>
            <input type="hidden" name="user_id" value="{{user_id}}">
    <button class="btn btn-primary" type="submit">submit</button>
       
    </form>
</div>

</div>
{% endblock %}