{% extends 'courses/base.html' %}
{% load course_custom_tags %}
{% load static %}
{% block title %}
Login
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'courses/css/Login.css'%}">
{% endblock %}


{% block content %}
<div class="container-fluid"></div>

<h1 class="display-1"> Forgot password </h1>
<hr>


<div class="container login-card">
    <!-- <form class="form"  method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="password" >Username</label>
            <input type="text" name="username" class="form-control">
        </div> 
        <button class="btn" type="submit">submit</button>
    </form> -->
    <form action="" method="POST" class="login-form ">
        {% csrf_token %}      
              <div class="form-group user">
                <div class="icon1"><label for="username"><i class="fa-solid fa-user" aria-hidden="true" style="color: #fafafa;"></i></label></div><input name="username" type="email"  class="form-control search-bar" required id="id_username"  aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="success">
              {% if messages %}

              {% for message in messages %}
              <div>
                    {{message}}
              </div>

               {% endfor %}
               {% endif %}
              </div>
              <button type="submit" class="btn btn-primary">Send</button>
         
      </form>
</div>


</div>
{% endblock %}